@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Poppins',sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color-scheme: light dark;
  color: #060606;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base{
  /* h1 {
    font-size:54px;
    font-weight: 600;
    
  } */
  h2 {
    font-size:36px;
    font-weight:600;
    letter-spacing: 2px;
  }
  h3 {
    font-size:25px;
    font-weight: 600;
    letter-spacing: 1px;
   
  }
  h4 {
    font-size:23px;
    letter-spacing: 5px;
    font-weight: 600;
    
  }
  h5 {
    font-size:20px;
    font-weight: 600;
    
  }
  h6 {
    font-size:16px;
    font-weight: 600;
    
  }
  p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #19182580;
  }
 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}
